<h2 class="display-3"><%= @article.title %><%= link_to "", edit_article_path(@article), class: "bi bi-pen" %>
        <%= link_to "",
            article_path(@article),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "bi bi-trash"
        %></h2>
<p> <%= @article.content %></p>
